{% trans_default_domain 'FOSUserBundle' %}

{% extends "::base.html.twig" %}

{% block fos_user_content %}


<div class="wrapper">
    <div class="form-signin">
        <h2 class="form-signin-heading">Mettez à jour votre profil :</h2><br>
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_profile_edit'), 'attr': {'class': 'fos_user_profil_edit'}}) }}
        {{ form_widget(form) }}


        <input type="submit" id="_submit" class="btn btn-lg btn-primary btn-block" name="_submit"
               value="{{ 'profile.edit.submit'|trans }}"/>
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}
