{% extends '@App/base/index.html.twig' %}

{% block title %}

    Materiel

{% endblock %}

{% block dot %}

    <div class="dotprod">
        .
    </div>

{% endblock %}

{% block content %}
    
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mt-5">
                <img src="{{ asset('img/logoiv.png') }}" class="img-fluid" width="25%">
            </div>
            <div class="col-12 text-center mt-5" style="color: rgba(52, 73, 94, 1)">
                <h1>EN CONSTRUCTION</h1>
            </div>
        </div>
    </div>

{% endblock %}