{% extends '@App/base/index.html.twig' %}

{% block content %}

    <h2 class="text-center mb-5">MENTIONS LEGALES</h2>

    <div class="container">

        <p><strong>Identification</strong></p>

        <p>Société Evap'U</p>

        <p>Dont le siège social est 588 Cours de la Libération, Talence</p>

        <p>Représentée par Mr Neaud Etienne en sa qualité de gérant</p>

        <p class="mb-5">Domiciliée : 588 Cours de la Libération, Talence</p>



        <p><strong>Contact Directeur de la publication:</strong></p>

        <p>Nom : Neaud Etienne</p>

        <p>Adresse : 588 Cours de la Libération</p>

        <p class="mb-5">Email : etienne.neaud@lapiscine.pro</p>



        <p><strong>Contact de l'hébergeur : OVH</strong></p>

        <p>Nom : OVH SAS au capital de 10 000 000 euros,</p>

        <p>Adresse 2 rue Kellermann - 59100 Roubaix – France</p>

        <p>Téléphone 0899 193 775 (1,35 € par appel puis 0,34 €/min)</p>

        <p class="mb-5">NB : L'article 6, I, 4° de la loi 2004-575 du 21 juin 2004 dispose :
        "Le fait, pour toute personne, de présenter à l'hébergeur du site un contenu ou une activité comme étant illicite dans le but d'en obtenir le retrait ou d'en faire cesser la diffusion, alors qu'elle sait cette information inexacte, est puni d'une peine d'un an d'emprisonnement et de 15 000 euros d'amende."</p>

        <p><strong>Propriété intellectuelle de evap_u.com :</strong></p>

        <p class="mb-5">Le site "evap_u.com" est protégé par les droits sur la propriété intellectuelle. Toute copie, même partielle (texte ou photo) de quelques éléments que ce soit est strictement interdite sans l'accord préalable du responsable du site.</p>

    </div>

    <h4 class="mb-5 text-center">La vente de cigarette électronique et de e-liquide est interdite aux mineurs.</h4>

{% endblock %}